<div class="jumbotron">

    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Share Your Meals❤</h1>
            <p class="lead">Do you want to share your love of your meals? 
            Are you willing to solve environmental problems and mental health issues?
            Are you a wondrful community member? 
            This app is for YOU! 💞
            </p>
            <hr class="my-4">
            <p>We are keen to create a community that is kind to the environent and safe for people down on their luck to live in. 
            You can share your extra food that is going to surplus to your needs, or simply host a 
            BBQ for those in challenged times.     
            </p>

            <p class="lead">
                <%= link_to 'Become a host', new_list_path, class: "btn btn-primary btn-lg" %>
            </p>
            <p class="lead">
                <%= link_to 'Search care', host_page_path, class: "btn btn-primary btn-lg" %>
            </p>

        </div>

         <div class="col-md-6">
         <<%= image_tag 'child1', class: "home-image" %>>
        </div>

    </div>
</div>