<div class="jumbotron">

    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Share Your Meals❤</h1>
            <p class="lead">Do you want to share your love with your meals? 
            Are you willing to solve environmental problems and mental helath issues?
            Are you a wondrful community member? 
            This app is for YOU💞
            </p>
            <hr class="my-4">
            <p>We keen to create community that is kind to environmet and safe to live. 
            You can share your extra food that is going to throw away or simply host 
            BBQ for those in challenged time.     
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Bocome a host</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">Search care</a>
            </p>
        </div>

         <div class="col-md-6">
         <<%= image_tag 'child1', class: "home-image" %>>
        </div>

    </div>
</div>