<% @lists.each do |list|%>
    <div class="card" style="width: 18rem;">
    <%= image_tag list.picture, class: "card-img-top" %>
    <div class="card-body">
        <h5 class="card-title"><%= list.meal_name %></h5>
        <p class="card-text"><%= list.description %></p>
        <%= link_to "Show More", list_path(list.id), class:"btn btn-primary" %>
    </div>
    </div>
<% end %>